/* styles.css */
body {
    margin: 0;
    
}
.container{
    padding:0px 40px;
}
header {
    background-color: #fff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #180807;
    font-family:Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
}

.whatsapp {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #E9983F;
    height:80px;
}

.whatsapp span {
    margin-right: 10px;
}

.banner {
    background-image: url('Images/Maskgroup.png'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0; 
}
.banner2 {
    background-image: url('Images/image\ 1.png'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0; 
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.banner h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 76px;
}
.banner h1 span{
    font-weight: 700;
}

.banner p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 242px;
    color:#E9983F;
    padding: 12px 20px;
}
.cta-button1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E9983F;
    width: 224px;
    color:#fffF;
    padding: 12px 18px;
}

.about-section {
    background-color: #F2EBE387;
    color: #333;
    padding: 100px 0; 
    text-align: center;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
}

.about-text {
    flex: 1;
    padding: 0 20px;
    text-align: left;
    
}
.full-division {
    display: grid;
    grid-auto-rows: auto;
}

.about-text h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color:#1808075E;
    font-family: Montserrat;
    line-height: 17.07px;
    letter-spacing: 19%;
}

.about-text h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39.01px;
    margin-bottom: 20px;
    font-family: Montserrat;
    color: #180807;
}
.about-text h2 span{
    font-weight: 700;
}
.about-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.pooja-section {
    background-color: #f9f9f9; 
    color: #333;
    padding: 100px 0; 
    text-align: center;
}
.container-boxes {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.pooja-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pooja-content h2{
    font-weight: 500;
}
.pooja-content h2 span{
    font-weight: 700;
}

.pooja-container {
    margin-top: 40px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
}

.pooja-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.pooja-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pooja-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.read-more {
    text-decoration: none;
    background-color: #E9983F;
    color: #fff;
    padding: 12px 18px;
    border-radius: 5px;
    width: 165px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-content: center;
}

.contact-section {
    background-color: #F2EBE387; 
    color: #333;
    padding: 100px 0; 
    text-align: center;
}

.contact-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    flex: 1;
    padding: 0 20px;
    text-align: left;
}

.contact-form {
    flex: 1;
    padding: 0 20px;
    text-align: left;
}

.contact-form form {
    max-width: 400px;
    margin: 0 auto;
}
.contact-form form dropdown{
    display:grid;
    grid-template-columns: auto auto;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none; 
    border-radius: 5px; 
}



.submit-button {
    background-color: #E9983F;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
}

.submit-button img {
    margin-left: 5px; }
footer {
    background-color: #161616;
    color: #fff;
    padding: 40px 0;
}

.footer-top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    width: 200px;
    margin-bottom: 30px;
    text-align: left;
}

.footer-column h2 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing :2%;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 700;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: Montserrat;
    line-height:22 px ;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

.footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a{
        color:#FFFFFF;
}

.footer-divider {
    border-top: 1px solid #fff;
    margin: 20px 0;
}

.footer-bottom {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .pooja-container {
        margin-top: 20px;
    }

    .read-more {
        display: block;
        margin-top: 15px;
    }
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        text-align: center;
    }
    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-info,
    .contact-form {
        padding: 20px 0;
    }

    .contact-form form {
        max-width: 100%;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        padding: 20px 0;
    }
    .banner {
        padding: 80px 20px;
    }

    .banner-content {
        max-width: 100%;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 15px;
    }

    .whatsapp {
        margin-top: 15px;
        justify-content: center;
    }
}


